.container {
  height: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  background-color: black;
}

.search-input {
  margin-top: 5px;
}

.sort-search {
  display: flex;
  justify-content: space-around;
}

.sort-button {
  text-decoration: underline;
}

.move-button {
  margin-top: 10px;
}

.list {
  width: 35%;
  min-height: 65px;
}

.left-list {
  background-color: white;
}

.right-list {
  background-color: grey;
}

.arrows {
  width: 20%;
  color: white;
}

.fName {
  font-size: small;
}

.header {
  text-align: center;
  font-weight: 200;
  text-transform: capitalize;
  color: white;
}

.author {
  color: #39ff14;
  text-transform: capitalize;
  text-decoration: underline;
  text-align: center;
  font-weight: 100;
  margin-top: 50px;
}